.tabs-container {
    -fx-background-color: #292929;
    -fx-text-fill: white;
    -fx-max-width: 500;
    -fx-max-height: 300;
}


.jfx-tab-pane .headers-region {
    -fx-background-color: #292929;
    -fx-padding: 5 0 0 0;
}

.jfx-tab-pane .tab-header-area {
    -fx-padding: 0 -170 0 170;
    -fx-effect: none;
}

.jfx-tab-pane .tab {
    -fx-padding: 15 0 0 0;
}

.jfx-tab-pane .tab:selected {
    -fx-background-image: url("../images/triangle.png");
    -fx-background-size: 20;
    -fx-background-position: top center;
    -fx-background-repeat: stretch;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #292929;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
}

.authenticate-root {
    -fx-background-image: url("../images/authenticate-bg.jpg");
    -fx-background-size: cover;
}

.login {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background-color: #f26f20;
    -fx-pref-width: 500;
    -fx-pref-height: 40;
}

.remember-me {
    -fx-font-size: 15;
    -fx-text-fill: #666;
    -jfx-checked-color: #F57B20;
    -jfx-unchecked-color: #F57B20;
}

.login-items-container {
    -fx-padding: 40 80;
}

.authenticate-field:hover .authenticate-field:focused {
    -fx-background-color: #434343;
}

.authenticate-field {
    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
    -fx-background-color: #383838;
    -fx-pref-height: 40;
}

.error-message {
    -fx-padding: 20 0 0 0;
    -fx-text-fill: #666;
    -fx-font-size: 15;
}