.game-hand-card-container {
    -fx-background-image: url("../images/game-hand-card-container.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-padding: 10;
    -fx-background-position: center center;
}

.game-hand-card-container:hover {
    -fx-background-image: url("../images/game-hand-card-container-hover.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.game-single {
    -fx-background-image: url("../images/button-left.png");
    -fx-border-style: none;
    -fx-border-width: 2px;
    -fx-border-insets: 0;
    -fx-text-fill: white;
    -fx-background-size: 200px 80px;
    -fx-pref-width: 200px;
    -fx-pref-height: 80px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.game-single:hover {
    -fx-background-image: url("../images/button-left-glow.png");
}

.game-multi {
    -fx-background-image: url("../images/button-right.png");
    -fx-border-style: none;
    -fx-border-width: 2px;
    -fx-border-insets: 0;
    -fx-text-fill: white;
    -fx-background-size: 200px 80px;
    -fx-pref-width: 200px;
    -fx-pref-height: 80px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.game-multi:hover {
    -fx-background-image: url("../images/button-right-glow.png");
}


.choose-game-root {
    -fx-background-image: url("../images/choose-game-bg.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.choose-game-plate {
    -fx-padding: 300 0 0 0;
}

.choose-game-title {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-padding: 0 0 60 0;
    -fx-pref-width: 300;
    -fx-text-alignment: center;
}

.killing-general-mode {
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
    -fx-background-image: url("../images/killing-general.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.killing-general-mode:hover {
    -fx-effect: dropshadow(three-pass-box, white, 20, 0, 0, 0);
}

.capture-the-flag-mode {
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
    -fx-background-image: url("../images/capture-the-flag.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.capture-the-flag-mode:hover {
    -fx-effect: dropshadow(three-pass-box, white, 20, 0, 0, 0);
}

.collecting-flags-mode {
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
    -fx-background-image: url("../images/collecting-flags.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.collecting-flags-mode:hover {
    -fx-effect: dropshadow(three-pass-box, white, 20, 0, 0, 0);
}


.tile-default {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.tile-default:hover {
    -fx-text-fill: red;
    -fx-background-color: rgba(250, 250, 250, 0.4);
}

.player-name {
    -fx-font-family: "Lato Bold";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0.8, 0, 0);
    -fx-stroke-width: 1;
    -fx-stroke: grey;
}

.mana-num {
    -fx-text-fill: #0c53a1;
    -fx-font-family: "Lato Bold";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.player2-container {
    -fx-rotate: 3;
}

.player1-container {
    -fx-rotate: -3;
}


.attack-power-container {
    -fx-background-image: url("../images/stats_attack.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.health-power-container {
    -fx-background-image: url("../images/stats_hp.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.stats {
    -fx-font-family: "Lato Bold";
    -fx-text-fill: white;
    -fx-stroke-width: 1;
    -fx-stroke: grey;
}