.card-shop-container {
    -fx-background-image: url("../images/card-container.png");
    -fx-background-size: cover;
}

.card-shop-container:hover {
    -fx-background-image: url("../images/card-container-hover.png");
    -fx-background-size: cover;
}

.card-shop-name {
    -fx-font-size: 18;
    -fx-text-fill: white;
}

.shop-root {
    -fx-background-image: url("../images/authenticate-bg.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.shop-search {
    -fx-background-image: url("../images/search-icon.png");
    -fx-background-size: 20;
    -fx-background-repeat: stretch;
    -fx-background-position: 170 15;
    -fx-pref-height: 50;
    -fx-pref-width: 200;
    -fx-padding: 5;
    -fx-background-color: #0C1022;
    -fx-background-radius: 8px;
    -fx-text-fill: #DCDCDC;
}

.scroll-pane{
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.shop-cards-container {
    -fx-padding: 30;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10;
}
.question-popup{
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 10;

}